body{
	background: url(bluebg1.jpg);
}
h3{
	color: white;
	text-align: center;
	font-family: 'Dancing Script', cursive;
}
.name{
	border-bottom: 3px solid white;
	border-right: 3px solid white;
	width: 300px;
	margin-bottom: 5px;
	color: white;
	font-family: 'Dancing Script', cursive;
	text-align: center;
}

.div{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
img{
	width: 400px;
	height: 400px;
	margin: 3px;
	
}
footer{
	color: white;
	text-align: center;
	font-family: 'Dancing Script', cursive;
}